
.newsDetails{
    text-align: center;
    margin-right: 250px;
    margin-top: 20px;
    font-size: 20px;
}

.submit{
    border-radius: 25px;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 150px;
    margin-left: 300px;
}

input[type="date"]{
    background-color: green;
    padding: 15px;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}

input[type=text]{
    border-radius: 25px;
    width: 300px;
    padding: 14px 20px;
    margin: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: black;
  font-size: 15px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

input[type="file"]::file-selector-button:hover {
  background-color: green;
}

.fileBox{
  background-color: white;
  width: 300px;
  border: 1px solid black;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}


textarea{
    border-radius: 25px;
    width: 300px;
    padding: 14px 20px;
    margin: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.centerBox{
  background-color: white;
  width: 600px;
  border: 10px solid darkgreen;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

.logo{
  width: 200px;
  height: 120px;
  position: static;
}

ul{
    margin: auto;
    list-style-type: none;
    margin-left: 6%;
    padding: 0;
    background-color: #333;
    font-weight: bold;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    color: #04AA6D;
}

.active{
    text-decoration: underline;
    border-radius: 5px;
    color: white;
    background-color: #04AA6D;
    padding: 20px 28px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.notActive{
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.logOut{
    margin: 8px 0;
    padding: 14px 20px;
    border: none;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    left: 87%;
}

body{
  background-image: url('background.png');
  background-size: cover;
  width: 99%;
}

